.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-content: center;
  place-items: center;
  flex-grow: 0;
  padding: 20px 20px;
  line-height: 0.25;

  @media (max-width: 1024px) {
    padding: 40px 20px;
    gap: 18px;
  }
}